<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matin Nasiri</title>
    <link rel="stylesheet" href="/css/update.css">
    
</head>
<body>
    <header>
        <h1>به وب‌سایت ما خوش آمدید</h1>
    </header>
    <div class="container">
        <p>ما در حال آپدیت وب‌سایت خود هستیم. لطفاً بعداً مراجعه کنید.</p>
    </div>
</body>
</html>
